@media screen and (min-width : 320px) {
  .cijfers {
    height: 3000px;
  }
}
@media screen and (min-width: 680px) {
  .cijfers {
    height: 2800px;
  }
}
@media screen and (min-width : 1024px) {
  .cijfers {
    height: 1760px;
  }
}